<mat-toolbar>
    <span>Model</span>
    <button (click)="addModelDialog()" mat-icon-button color="primary" aria-label="Add">
        <mat-icon>add</mat-icon>
    </button>
</mat-toolbar>

<mat-form-field>
  <mat-select [(value)]="selectedManufacturer" (selectionChange)="manufacturerSelected($event)" placeholder="Select Manufacturer">
    <mat-option *ngFor="let manufacturer of manufacturers" [value]="manufacturer.id">{{manufacturer.name}}</mat-option>
  </mat-select>
</mat-form-field>


<!-- <mat-list *ngFor="let manufacturer of manufacturers" role="list">
    <mat-list-item role="listitem">
        {{manufacturer.name}}
        <mat-icon (click)="deleteManufacturer(manufacturer)" class="delete-icon">delete</mat-icon>
    </mat-list-item>
</mat-list> -->