.toolbar-left {
  justify-content: flex-start;
  display: flex;
  flex: 1;
}

.toolbar-center {
  justify-content: center;
  display: flex;
  flex: 1;
}

.toolbar-right {
  justify-content: flex-end;
  display: flex;
  flex: 1;
}

.flex-spacer {
  flex: 1 1 auto;
}