<mat-toolbar color="primary">
    <!--Navigation Menu-->
    <button class="toolbar-left" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['/home']" color="primary" aria-label="Home">
            <mat-icon>home</mat-icon>
            <span>Home</span>
        </button>
        <button mat-menu-item [routerLink]="['/manufacturer']" color="primary" aria-label="Home">
            <mat-icon>factory</mat-icon>
            <span>Manufacturer</span>
        </button>
        <button mat-menu-item [routerLink]="['/model']" color="primary" aria-label="Home">
            <mat-icon>directions_car</mat-icon>
            <span>Model</span>
        </button>
    </mat-menu>

    <span class="toolbar-center">Otto</span>

    <app-auth-button class="toolbar-right"></app-auth-button>
</mat-toolbar>
<router-outlet></router-outlet>